.mindcollapse .container {
  max-width: 930px; }
.mindcollapse .article a, .mindcollapse .archive a {
  color: #9c30b6;
  text-decoration: underline; }
  .mindcollapse .article a:hover, .mindcollapse .archive a:hover {
    color: #f93703; }
.mindcollapse .header {
  margin-top: 5px;
  background-color: #ffffff;
  border: 0px; }
  .mindcollapse .header .navbar-brand {
    padding-left: 0px;
    color: #111; }
  .mindcollapse .header .navbar-toggle {
    margin-right: 0px;
    outline: none; }
  .mindcollapse .header ul li:last-child a {
    padding-right: 0px; }
.mindcollapse .archive li {
  margin-bottom: 10px;
  vertical-align: middle; }
.mindcollapse .article {
  margin-top: 20px;
  color: #111;
  font-size: 16px;
  font-family: Georgia, Times New Roman, serif;
  /*
  .hyphenate {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -o-hyphens: auto;
      hyphens: auto;
  }*/ }
  .mindcollapse .article hr {
    margin-top: 15px;
    margin-bottom: 15px; }
    .mindcollapse .article hr.first {
      margin-top: 10px; }
  .mindcollapse .article .content_header {
    line-height: 20px; }
    .mindcollapse .article .content_header h1 {
      font-size: 18px;
      font-weight: normal;
      margin: 0px; }
    .mindcollapse .article .content_header .published {
      text-align: right;
      font-size: 14px;
      cursor: pointer; }
    @media (max-width: 767px) {
      .mindcollapse .article .content_header .published {
        margin-top: 15px;
        float: left !important;
        clear: both; } }
  .mindcollapse .article .content {
    text-align: justify; }
    .mindcollapse .article .content img {
      display: block;
      height: auto;
      max-width: 100%; }
  .mindcollapse .article .content_footer {
    font-style: italic; }
